# Node modules
node_modules/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# dotenv environment variables
.env
.env.*.local

# Build / Coverage
dist/
build/
coverage/

# OS-specific files
.DS_Store
Thumbs.db

# IDE-specific
.vscode/
.idea/

# Cache
.cache/
.nyc_output/

# Optional npm cache directory
.npm/

# Optional eslint cache
.eslintcache

# TypeScript build output
*.tsbuildinfo
